body {
  background: #d9d9d9;
  /* display:flex; 
  flex-direction:column; 
  justify-content:center; */
  min-height: 100vh;
  min-width: 1000px;
  padding-top: 65px;
  /* max-width: 100%; */
}

nav {
  min-width: 1000px;
}

html {
  /* max-width: 100%; */
  overflow-x: hidden;
}

i {
  margin-top: 22;
  margin-right: 15;
  font-size: 25;
  text-align: center;
  text-justify: auto;
}

#logotips {
  border-radius: 10px;
  height: 100px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

ul {
  list-style-type: none;
}

.crslCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel .carousel-item img {
  width: 100%;
  object-fit: contain;
  /* or 'contain' if you want stretch instead of crop */
  object-position: center;
  height: 50vh;
}

#Ned-Italija-range {
  width: 60%;
}

#saturs {
  height: auto;
  overflow-y: scroll,hidden;
}

#sticky {
  position: fixed;
  background: #eee;
  margin-left: 85%;
  /* overflow-x: hidden; */
}

#sticky a, #stick nav {
  max-width: 250px;
}