body {
  background: #d9d9d9;
  /* display:flex; 
  flex-direction:column; 
  justify-content:center; */
  min-height: 100vh;
  min-width: 1000px;
  padding-top: 65px;
  /* max-width: 100%; */
}

nav {
  min-width: 1000px;
}

html {
  /* max-width: 100%; */
  overflow-x: hidden;
}

#nav-icons i {
  margin-top: 12px;
  margin-right: 15px;
  text-align: center;
  text-justify: auto;
}

.Btn-back a{
  text-decoration: none;
  color: #4c4c80;
}

.Btn-back i{
  font-size: 40px;
  color: #4c4c80;
  margin-top: 8px;
  margin-right: 10px;
}

.AbtUs i{
  margin-top: 2px;
  margin-right: 5px;
  color: #4c4c80;
}

#logotips {
  border-radius: 10px;
  height: 100px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

ul {
  list-style-type: none;
}

.crslCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel .carousel-item img {
  width: 100%;
  object-fit: contain;
  /* or 'contain' if you want stretch instead of crop */
  object-position: center;
  max-height: 50vh;
}

.card-img-top {
  width: 100%;
  object-fit: cover;
  /* or 'contain' if you want stretch instead of crop */
  max-height: 10vh;
}

.figure img {
  width: 100%;
  max-height: 60vh;
}

#saturs {
  height: 100%;
  overflow-y: scroll;
}

#TOC-Fixed {
  width: 325px;
  max-height: 50%;
  overflow-x: hidden;
  overflow-y: scroll;
}

#TOC-main {
  position: fixed;
  margin-left: 83vw;
}

.TOC-Cont {
  z-index: 2;
  border-radius: 10px;
  width: 325px;
  max-height: 43vh;
  background: #efeded;
  overflow-x: hidden;
  overflow-y: auto;
}

#TOC-main a,
#TOC-main nav {
  width: 250px;
  color: #4c4c80;
  margin-top: 5px;
}

#TOC-main li {
  margin-top: 15px;
}

#TOC-main .active {
  background-color: #4c4c80;
  color: white;
}